<!doctype html>
<html class="no-js" lang="zxx">

<head>
	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="Site keywords here">
	<meta name="description" content="">
	<meta name='copyright' content=''>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Title -->
	<title>Agriculture | Share Hubs Engineerings</title>

	<!-- Android Chrome Icons -->
	<link rel="icon" type="image/png" href="/assets/img/favicon_io (1)/android-chrome-192x192.png" sizes="192x192">
	<link rel="icon" type="image/png" href="/assets/img/favicon_io (1)/android-chrome-512x512.png" sizes="512x512">

	<!-- Apple Touch Icons -->
	<link rel="icon" type="image/png" href="/assets/img/favicon_io (1)/apple-touch-icon.png">

	<!-- Favicons -->
	<link rel="icon" type="image/x-icon" href="/assets/img/favicon_io (1)/favicon.ico">
	<link rel="icon" type="image/png" href="/assets/img/favicon_io (1)/favicon-16x16.png" sizes="16x16">
	<link rel="icon" type="image/png" href="/assets/img/favicon_io (1)/favicon-32x32.png" sizes="32x32">


	<!-- Google Fonts -->
	<link
		href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap"
		rel="stylesheet">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
	<!-- Nice Select CSS -->
	<link rel="stylesheet" href="/assets/css/nice-select.css">
	<!-- Font Awesome CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
	<link rel="stylesheet" href="/assets/css/font-awesome.min.css">
	<!-- icofont CSS -->
	<link rel="stylesheet" href="/assets/css/icofont.css">
	<!-- Slicknav -->
	<link rel="stylesheet" href="/assets/css/slicknav.min.css">
	<!-- Owl Carousel CSS -->
	<link rel="stylesheet" href="/assets/css/owl-carousel.css">
	<!-- Datepicker CSS -->
	<link rel="stylesheet" href="/assets/css/datepicker.css">
	<!-- Animate CSS -->
	<link rel="stylesheet" href="/assets/css/animate.min.css">
	<!-- Magnific Popup CSS -->
	<link rel="stylesheet" href="/assets/css/magnific-popup.css">

	<!-- Medipro CSS -->
	<link rel="stylesheet" href="/assets/css/normalize.css">
	<link rel="stylesheet" href="/assets/style.css">
	<link rel="stylesheet" href="/assets/css/responsive.css">

</head>

<body>

	<!-- Preloader -->
	<div class="preloader">
		<div class="loader">
			<div class="loader-outter"></div>
			<div class="loader-inner"></div>

			<div class="indicator">
				<svg width="16px" height="12px">
					<polyline id="back" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
					<polyline id="front" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
				</svg>
			</div>
		</div>
	</div>
	<!-- End Preloader -->
	<!-- Get Pro Button -->
	<ul class="pro-features">
		<a class="get-pro" href="#">Products</a>
		<li class="big-title">View our Products</li>
		<li class="title">Shop WITH US</li>
		<li>Lorem ipsum dolor sit.</li>
		<li>Lorem, ipsum.</li>
		<li>Lorem ipsum dolor sit.</li>
		<li>Lorem ipsum dolor sit amet.</li>
		<li>Lorem ipsum dolor sit amet, consectetur adipisicing.</li>
		<div class="button">
			<a href="/comingsoon"
				target="_blank" class="btn">Shop with us now</a>
			<a href="/comingsoon" target="_blank"
				class="btn">View Our Products</a>
		</div>
	</ul>

	<!-- Header Area -->
	<header class="header">
	
		<!-- Header Inner -->
		<div class="header-inner">
			<div class="container">
				<div class="inner">
					<div class="row">
						<div class="col-lg-3 col-md-3 col-12">
							<!-- Start Logo -->
							<div class="logo">
								<a href="/index"><img src="/assets/img/resized_logo.png" alt="#"></a>
							</div>
							<!-- End Logo -->
							<!-- Mobile Nav -->
							<div class="mobile-nav"></div>
							<!-- End Mobile Nav -->
						</div>
						<div class="col-lg-7 col-md-9 col-12">
							<!-- Main Menu -->
							<div class="main-menu">
								<nav class="navigation">
									<ul class="nav menu">
										<li><a href="/index">Home</a>
											<!-- <ul class="dropdown">
													<li><a href="index.html">Home Page 1</a></li>
												</ul> -->
										</li>
										<li><a href="/automobile">Automobile</a></li>
										<li><a href="/medicine">Medical Solutions</a></li>
										<!-- <li><a href="#">Pages <i class="icofont-rounded-down"></i></a>
												<ul class="dropdown">
													<li><a href="404.html">404 Error</a></li>
												</ul>
											</li>
											<li><a href="#">Blogs <i class="icofont-rounded-down"></i></a>
												<ul class="dropdown">
													<li><a href="blog-single.html">Blog Details</a></li>
												</ul> -->
										</li>
										<li><a href="/oil&gas">Oil & Gas</a></li>
										<li><a href="/home&office">Home & Offices</a></li>
									</ul>
								</nav>
							</div>
							<!--/ End Main Menu -->
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
		</div>
		<!--/ End Header Inner -->
	</header>
	<!-- End Header Area -->
	<div class="bg">
		<!-- Breadcrumbs -->
		<div class="breadcrumbs overlay" style="background-image: url(assets/img/agroback.jpeg);">
			<div class="container">
				<div class="bread-inner">
					<div class="row">
						<div class="col-12">
							<h2>Agriculture</h2>
							<ul class="bread-list">
								<li><a href="/index">Home</a></li>
								<li><i class="icofont-simple-right"></i></li>
								<li class="active">Agriculture</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Breadcrumbs -->



		<section class="eco-section">
			<p class="intro-text">
				Welcome to Share Hubs Agriculture. Our mission is to empower farmers with innovative solutions for
				sustainable agriculture.

			</p>

			<div class="eco-container">

				<div class="eco-image">
					<img src="assets/img/A tractor on the field waters the plants with pesticides_ royalty free stock image.jpg"
						alt="Nature and Water" />
				</div>

				<div class="eco-card">
					<h3>OUR VISION</h3>
					<hr>
					<p>
						We believe agriculture can be both productive and environmentally friendly. Our products and
						services are designed to help farmers work smarter, not harder.

					</p>

				</div>

			</div>
		</section>

		<section class="eco-section">
			<div class="eco-container">
				<div class="eco-card">
					<h3>OUR PRODUCTS</h3>
					<hr>
					<p>
						We offer a range of medium, small, and portable agricultural equipment and tools, including:
						<br>
						<br>
						- Innovative implements and tools for efficient farming <br>
						- Sustainable solutions for reduced environmental impact
					</p>
					<a href="/comingsoon"><button class="explore-btn">Explore</button></a>
				</div>

				<div class="eco-image">
					<img src="assets/img/Agriculture Technology Pictures _ Freepik.jpg" alt="Nature and Water" />
				</div>

			</div>
		</section>


		<section class="eco-section">

			<div class="eco-container">

				<div class="eco-image">
					<img src="assets/img/25 Super Easy Green Living Habits to Adopt.png" alt="Nature and Water" />
				</div>

				<div class="eco-card">
					<h3>CONSULTING SERVICES</h3>
					<hr>
					<p>
						Our team is available for design and consulting services. Reach us via: <br>
					<ul>
						<li><i class="fa fa-phone"></i> +234 913 511 6716</li>
						<li><i class="fa fa-envelope"></i><a href="mailto:info@sharehubseng.com">
								info@sharehubseng.com</a></li>
					</ul>

					</p>

				</div>

			</div>
		</section>


		<section class="campaign-section">
			<div class="campaign-card">
				<div class="campaign-text">
					<p class="campaign-subheading"></p>
					<h3 class="campaign-title">Certifications & Partnerships </h3>
					<hr>
					<!-- <p class="campaign-desc">
         We are certified/partnered with: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis, saepe.

        </p>
		 -->
					<div class="certifications">
						<ul class="certification-list">
							<li><strong>ISO 9001:</strong> Quality Management Systems</li>
							<li><strong>ISO 14001:</strong> Environmental Management Systems</li>
							<li><strong>ISO 45001:</strong> Occupational Health & Safety Management</li>
							<li><strong>SONCAP:</strong> Standards Organisation of Nigeria Conformity Assessment Program
							</li>
							<li><strong>NIS:</strong> Nigerian Industrial Standards Compliance</li>
							<li><strong>ASABE:</strong> American Society of Agricultural and Biological Engineers
								Certification</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
	


	<!-- Start Call to action -->
		<section class="call-action overlay" data-stellar-background-ratio="0.5">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-12">
						<div class="content">
							<h3 style="color: #fff; font-weight: bold;">Let’s build something that works for you.</h3>
							<p>Have a challenge? Let’s solve it together. Our expert team is ready to provide efficiency and sustainability in your operations.</p>
							<div class="button">
								<a href="#" class="btn">Request a Consultation</a>
								<!-- <a href="#" class="btn second">Send us a mail.<i class="fa fa-long-arrow-right"></i></a> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End Call to action -->

</div>
	<!-- Footer Area -->
	<footer id="footer" class="footer ">
		<!-- Footer Top -->
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6 col-12">
						<div class="single-footer">
							<h2>About Us</h2>
							<p>We are an innovative engineering company delivering cutting-edge solutions in research,
								design and development, sales of engineering products and manufacturing of machine
								component, equipment and tools.</p>
							<!-- Social -->
							<ul class="social">
								<li><a href="#"><i class="icofont-facebook"></i></a></li>
								<li><a href="#"><i class="icofont-google-plus"></i></a></li>
								<li><a href="#"><i class="icofont-twitter"></i></a></li>
								<li><a href="#"><i class="icofont-vimeo"></i></a></li>
								<li><a href="#"><i class="icofont-pinterest"></i></a></li>
							</ul>
							<!-- End Social -->
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<div class="single-footer f-link">
							<h2>Quick Links</h2>
							<div class="row">
								<div class="col-lg-6 col-md-6 col-12">
									<ul>
										<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Home</a>
										</li>
										<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Contact</a>
										</li>
										<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Services</a>
										</li>

									</ul>
								</div>
								<div class="col-lg-6 col-md-6 col-12">
									<ul>
										<li><a href="store.html"><i class="fa fa-caret-right"
													aria-hidden="true"></i>Consulting</a></li>
										<li><a href="agric.html"><i class="fa fa-caret-right"
													aria-hidden="true"></i>Finance</a></li>
										<li><a href="javascript:void(0);"><i class="fa fa-caret-right"
													aria-hidden="true" onclick="showPopup()"></i>Logout</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<div class="single-footer">
							<h2>Open Hours</h2>
							<p>Our office is open Monday to Friday, 8:00 AM to 5:00 PM, providing prompt and reliable
								services.</p>
							<ul class="time-sidual">
								<li class="day">Monday - Friday <span>8am - 5pm</span></li>
								<li class="day">Saturday<span>1pm - 5pm</span>(Limited Services)</li>
								<li class="day">Sunday <span>Closed</span></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<div class="single-footer">
							<h2>Newsletter</h2>
							<p>Subscribe to our newsletter to get allour news in your inbox.</p>
							<form action="mail/mail.php" method="get" target="_blank" class="newsletter-inner">
								<input name="email" placeholder="Email Address" class="common-input"
									onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your email address'"
									required="" type="email">
								<button class="button"><i class="icofont icofont-paper-plane"></i></button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/ End Footer Top -->
		<!-- Copyright -->
		<div class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-12">
						<div class="copyright-content">
							<p>© Copyright 2025 | All Rights Reserved by <a href="" target="_blank">Share Hubs
									Engineering</a> </p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/ End Copyright -->
	</footer>
	<!--/ End Footer Area -->


	<!-- Overlay -->
	<div id="overlay"></div>

	<!-- Popup Container -->
	<div id="popupMessage" class="popup">
		<div class="popup-content">
			<p>Are you sure you want to logout?</p>
			<button class="confirm-btn" onclick="logout()">Yes</button>
			<button class="cancel-btn" onclick="closePopup()">No</button>
		</div>
	</div>

	<!-- Timed Tip Modal -->
	<div id="timedPopup" class="popup">
		<div class="popup-content">
			<p>Don't forget to check our Products!</p>
			<button class="cancel-btn" onclick="closeTimedPopup()">Close</button>
		</div>
	</div>



	<script>



		document.addEventListener("DOMContentLoaded", function () {
			const profileIcon = document.querySelector(".profile-icon");
			const profileMenu = document.querySelector(".profile-menu");

			profileIcon.addEventListener("click", function () {
				profileMenu.classList.toggle("active");
			});

			// Close menu when clicking outside
			document.addEventListener("click", function (event) {
				if (!profileIcon.contains(event.target) && !profileMenu.contains(event.target)) {
					profileMenu.classList.remove("active");
				}
			});
		});



		// Show timed modal every 2 minutes
		function showTimedPopup() {
			document.getElementById("timedPopup").classList.add("show");
			document.getElementById("timedPopup").style.display = "block";
			document.getElementById("overlay").style.display = "block";
		}

		function closeTimedPopup() {
			document.getElementById("timedPopup").classList.remove("show");
			setTimeout(() => {
				document.getElementById("timedPopup").style.display = "none";
				document.getElementById("overlay").style.display = "none";
			}, 200);
		}

		window.addEventListener("DOMContentLoaded", () => {
			setTimeout(() => {
				showTimedPopup(); // First popup after 30 seconds
				setInterval(showTimedPopup, 300000); // Then every 5 minutes (300,000 ms)
			}, 30000); // 30,000 ms = 30 seconds
		});



		// Function to show the popup
		function showPopup() {
			document.getElementById("popupMessage").classList.add("show");
			document.getElementById("popupMessage").style.display = "block"; // Ensure it appears
			document.getElementById("overlay").style.display = "block"; // Show blurred background
		}

		// Function to close the popup
		function closePopup() {
			document.getElementById("popupMessage").classList.remove("show");
			setTimeout(() => {
				document.getElementById("popupMessage").style.display = "none"; // Hide after animation
				document.getElementById("overlay").style.display = "none";
			}, 200); // Delay to match the transition effect
		}

		function logout() {
			// Show preloader
			const preloader = document.getElementById('preloader');
			if (preloader) {
				preloader.style.display = 'block';
			}

			// Add a short pause to let the animation play, then redirect
			setTimeout(() => {
				fetch('/logout')
					.then(() => {
						window.location.href = '/'; // go to login
					})
					.catch(err => {
						console.error('Logout failed:', err);
						if (preloader) preloader.style.display = 'none'; // fallback
					});
			}, 500); // Adjust if you want it slightly slower/faster
		}
	</script>




	<!-- jquery Min JS -->
	<script src="/js/jquery.min.js"></script>
	<!-- jquery Migrate JS -->
	<script src="/js/jquery-migrate-3.0.0.js"></script>
	<!-- jquery Ui JS -->
	<script src="/js/jquery-ui.min.js"></script>
	<!-- Easing JS -->
	<script src="/js/easing.js"></script>
	<!-- Color JS -->
	<script src="/js/colors.js"></script>
	<!-- Popper JS -->
	<script src="/js/popper.min.js"></script>
	<!-- Bootstrap Datepicker JS -->
	<script src="/js/bootstrap-datepicker.js"></script>
	<!-- Jquery Nav JS -->
	<script src="/js/jquery.nav.js"></script>
	<!-- Slicknav JS -->
	<script src="/js/slicknav.min.js"></script>
	<!-- ScrollUp JS -->
	<script src="/js/jquery.scrollUp.min.js"></script>
	<!-- Niceselect JS -->
	<script src="/js/niceselect.js"></script>
	<!-- Tilt Jquery JS -->
	<script src="/js/tilt.jquery.min.js"></script>
	<!-- Owl Carousel JS -->
	<script src="/js/owl-carousel.js"></script>
	<!-- counterup JS -->
	<script src="/js/jquery.counterup.min.js"></script>
	<!-- Steller JS -->
	<script src="/js/steller.js"></script>
	<!-- Wow JS -->
	<script src="/js/wow.min.js"></script>
	<!-- Magnific Popup JS -->
	<script src="/js/jquery.magnific-popup.min.js"></script>
	<!-- Counter Up CDN JS -->
	<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="/js/bootstrap.min.js"></script>
	<!-- Main JS -->
	<script src="/js/main.js"></script>
</body>

</html>