<!doctype html>
<html class="no-js" lang="en">
    <head>
        <!-- Meta Tags -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="keywords" content="Site keywords here">
		<meta name="description" content="">
		<meta name='copyright' content=''>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<!-- Title -->
        <title>Share Hubs Engineering</title>
		
				<!-- Android Chrome Icons -->
				<link rel="icon" type="image/png" href="/assets/img/favicon_io (1)/android-chrome-192x192.png" sizes="192x192">
				<link rel="icon" type="image/png" href="/assets/img/favicon_io (1)/android-chrome-512x512.png" sizes="512x512">
		
				<!-- Apple Touch Icons -->
				<link rel="icon" type="image/png" href="/assets/img/favicon_io (1)/apple-touch-icon.png">
		
				<!-- Favicons -->
				<link rel="icon" type="image/x-icon" href="/assets/img/favicon_io (1)/favicon.ico">
				<link rel="icon" type="image/png" href="/assets/img/favicon_io (1)/favicon-16x16.png" sizes="16x16">
				<link rel="icon" type="image/png" href="/assets/img/favicon_io (1)/favicon-32x32.png" sizes="32x32">
				
		
		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
		<!-- Nice Select CSS -->
		<link rel="stylesheet" href="/assets/css/nice-select.css">
		<!-- Font Awesome CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
        <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
		<!-- icofont CSS -->
        <link rel="stylesheet" href="/assets/css/icofont.css">
		<!-- Slicknav -->
		<link rel="stylesheet" href="/assets/css/slicknav.min.css">
		<!-- Owl Carousel CSS -->
        <link rel="stylesheet" href="/assets/css/owl-carousel.css">
		<!-- Datepicker CSS -->
		<link rel="stylesheet" href="/assets/css/datepicker.css">
		<!-- Animate CSS -->
        <link rel="stylesheet" href="/assets/css/animate.min.css">
		<!-- Magnific Popup CSS -->
        <link rel="stylesheet" href="/assets/css/magnific-popup.css">
		
		<!-- Medipro CSS -->
        <link rel="stylesheet" href="/assets/css/normalize.css">
        <link rel="stylesheet" href="/assets/style.css">
        <link rel="stylesheet" href="/assets/css/responsive.css">
		
    </head>
    <body>
	
		<!-- Preloader -->
        <div class="preloader">
            <div class="loader">
                <div class="loader-outter"></div>
                <div class="loader-inner"></div>

                <div class="indicator"> 
                    <svg width="16px" height="12px">
                        <polyline id="back" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                        <polyline id="front" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                    </svg>
                </div>
            </div>
        </div>
        <!-- End Preloader -->
		
		<!-- Get Pro Button -->
		<ul class="pro-features">
			<a class="get-pro" href="#">Products</a>
			<li class="big-title">View our Products</li>
			<li class="title">Shop WITH US</li>
			<li>Lorem ipsum dolor sit.</li>
			<li>Lorem, ipsum.</li>
			<li>Lorem ipsum dolor sit.</li>
			<li>Lorem ipsum dolor sit amet.</li>
			<li>Lorem ipsum dolor sit amet, consectetur adipisicing.</li>
			<div class="button">
				<a href="/comingsoon" target="_blank" class="btn">Shop with us now</a>
				<a href="#" target="_blank" class="btn">View Our Products</a>
			</div>
		</ul>
	
	
		<!-- Header Area -->
		<header class="header" >
			<!-- Topbar -->
			<div class="topbar">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-md-5 col-12">
							<!-- Contact -->
							<ul class="top-link">
								<li><a href="#services">Services</a></li>
								<li><a href="#">Engineers</a></li>
								<li><a href="#contact">Contact</a></li>
								<li><a href="#">FAQ</a></li>
							</ul>
							<!-- End Contact -->
						</div>
						<div class="col-lg-6 col-md-7 col-12">
							<!-- Top Contact -->
							<ul class="top-contact">
								<li><i class="fa fa-phone"></i>+234 913 511 6716</li>
								<li><i class="fa fa-envelope"></i><a href="mailto:info@sharehubseng.com">info@sharehubseng.com</a></li>
							</ul>
							<!-- End Top Contact -->
						</div>
					</div>
				</div>
			</div>
			<!-- End Topbar -->
			<!-- Header Inner -->
			<div class="header-inner">
				<div class="container">
					<div class="inner">
						<div class="row">
							<div class="col-lg-3 col-md-3 col-12">
								<!-- Start Logo -->
								<div class="logo">
									<a href="/index"><img src="/assets/img/resized_logo.png" alt="#"></a>
								</div>
								<!-- End Logo -->
								<!-- Mobile Nav -->
								<div class="mobile-nav"></div>
								<!-- End Mobile Nav -->
							</div>
							<div class="col-lg-7 col-md-9 col-12">
								<!-- Main Menu -->
								<div class="main-menu">
									<nav class="navigation">
										<ul class="nav menu">
											<li><a href="/agriculture">Agriculture</a>
												<!-- <ul class="dropdown">
													<li><a href="index.html">Home Page 1</a></li>
												</ul> -->
											</li>
											<li><a href="/automobile">Automobile</a></li>
											<li><a href="/medicine">Medical Solutions </a></li>
											<!-- <li><a href="#">Pages <i class="icofont-rounded-down"></i></a>
												<ul class="dropdown">
													<li><a href="404.html">404 Error</a></li>
												</ul>
											</li>
											<li><a href="#">Blogs <i class="icofont-rounded-down"></i></a>
												<ul class="dropdown">
													<li><a href="blog-single.html">Blog Details</a></li>
												</ul> -->
											</li>
											<li><a href="/oil&gas">Oil and Gas</a></li>
											<li><a href="/home&office">Home and Offices</a></li>
										</ul>
									</nav>
								</div>
								<!--/ End Main Menu -->
							</div>
							<div class="col-lg-2 col-12">
								<div class="get-quote">
								<a href="javascript:void(0);" class="btn" onclick="showPopup()">Logout</a>
							  </ul>
							</div>
						  </div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Header Inner -->
		</header>
		<!-- End Header Area -->
		
		<!-- Slider Area -->
		<section class="slider">
			<div class="hero-slider">
				<!-- Start Single Slider -->
				<div class="single-slider" style="background-image:url('/assets/img/monochrome-scene-depicting-life-workers-construction-industry-site.jpg')">
					<div class="container">
						<div class="row">
							<div class="col-lg-7">
								<div class="text">
									<h1>Welcome to <span>Share Hubs Engineering</span> Services That You Can <span>Trust!</span></h1>
									<p><span>Home of Possibilities </span></p>
									<div class="button">
										<a href="#" class="btn">Get Appointment</a>
										<a href="#" class="btn primary">Learn More</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Single Slider -->
				<!-- Start Single Slider -->
				<div class="single-slider" style="background-image:url('/assets/img/GEAR_1.png')">
					<div class="container">
						<div class="row">
							<div class="col-lg-7">
								<div class="text">
									<h1>We Provide <span>Engineering</span> Services That You Can <span>Trust!</span></h1>
									<p>Transforming innovative ideas into reality with precision, passion, and unparalled expert engineering solutions. </p>
									<div class="button">
										<a href="#" class="btn">Get Appointment</a>
										<a href="#" class="btn primary">Conatct Now</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Single Slider -->
				<!-- Start Single Slider -->
				<div class="single-slider" style="background-image:url('/assets/img/black-white-scene-showcasing-life-construction-workers-site.jpg')">
					<div class="container">
						<div class="row">
							<div class="col-lg-7">
								<div class="text">
									<h1>Transforming <span> Visions</span> into Reality through Expert<span> Engineering Solutions.</span></h1>
									<p>Bringing innovative ideas to life with expert engineers and collaborative approach every time. </p>
									<div class="button">
										<a href="#" class="btn">Get Appointment</a>
										<a href="#" class="btn primary">Contact Now</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Start End Slider -->
			</div>
		</section>
		<!--/ End Slider Area -->
		
		<!-- Start Schedule Area -->
		<section class="schedule">
			<div class="container">
				<div class="schedule-inner">
					<div class="row">
						<div class="col-lg-4 col-md-6 col-12 ">
							<!-- single-schedule -->
							<div class="single-schedule first">
								<div class="inner">
									<div class="icon">
										<i class="icofont-prescription"></i>
									</div>
									<div class="single-content">
										<span>Check our Work</span>
										<h4>Projects</h4>
										<p>Take a look at our previous projects. <br> Dont hesitate to reach out for assistance with your projects.</p>
										<p></p>
										<p></p>
										<a href="#">LEARN MORE<i class="fa fa-long-arrow-right"></i></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-12">
							<!-- single-schedule -->
							<div class="single-schedule middle">
								<div class="inner">
									<div class="icon">
										<i class="icofont-prescription"></i>
									</div>
									<div class="single-content">
										<span>Appointments</span>
										<h4>Book Appointment</h4>
										<p>Meet with Our Expert Engineers: <br> Schedule Your Appointment Today and Get Started!</p>
										<a href="#contact">LEARN MORE<i class="fa fa-long-arrow-right"></i></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-12 col-12">
							<!-- single-schedule -->
							<div class="single-schedule last">
								<div class="inner">
									<div class="icon">
										<i class="icofont-ui-clock"></i>
									</div>
									<div class="single-content">
										<span>Get into the factory</span>
										<h4>Manufacturing Technology</h4>
										<p></p>
										<p></p>
										<a href="#">LEARN MORE<i class="fa fa-long-arrow-right"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/End Start schedule Area -->


		
		<!-- Start Call to action -->
		<section class="call-action overlay" data-stellar-background-ratio="0.5">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-12">
						<div class="content">
							<h2>Check Our Store!!!</h2>
							<p>Explore our store for top-quality products designed to meet your needs. Discover innovation, reliability, and value in every item!</p>
							<div class="button">
								<a href="/comingsoon" class="btn">Shop Now</a>
								<a href="/comingsoon" class="btn primary">Learn More  <i class="fa fa-long-arrow-right"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End Call to action -->
		
		
		
		<!-- Start service -->
		<section id="services" class="services section">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<h2>We Offer Different Services To Improve Your Work</h2>
							<br>
							<p>Bringing innovative ideas to life with expert engineers and collaborative approach every time.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Start Single Service -->
						<div class="single-service">
							<i class="icofont icofont-architecture"></i>
							<h4><a href="/agriculture">Agriculture</a></h4>
							<p>Innovative engineering solutions for efficient farming, irrigation systems, and mechanized equipment to boost agricultural productivity. </p>	
						</div>
						<!-- End Single Service -->
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Start Single Service -->
						<div class="single-service">
							<i class="icofont icofont-gear"></i>
							<h4><a href="/automobile">Automobiles</a></h4>
							<p>Advanced automotive engineering for vehicle maintenance, parts manufacturing, and performance enhancements for all car models. </p>	
						</div>
						<!-- End Single Service -->
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Start Single Service -->
						<div class="single-service">
							<i class="icofont icofont-light-bulb"></i>
							<h4><a href="/home&office">Home & Office Products</a></h4>
							<p>Customized designs for durable, ergonomic, and energy-efficient furniture and appliances tailored to your needs. </p>	
						</div>
						<!-- End Single Service -->
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Start Single Service -->
						<div class="single-service">
							<i class="icofont icofont-ui-settings"></i>
							<h4><a href="service-details.html">Project Management</a></h4>
							<p>Planning, organizing, and supervising engineering projects from conception to completion, ensuring quality and efficiency. </p>	
						</div>
						<!-- End Single Service -->
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Start Single Service -->
						<div class="single-service">
							<i class="icofont icofont-handshake-deal"></i>
							<h4><a href="service-details.html">Consultancy Services</a></h4>
							<p>Offering expert engineering advice, design solutions, and technical support for clients and businesses across industries. </p>	
						</div>
						<!-- End Single Service -->
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Start Single Service -->
						<div class="single-service">
							<i class="icofont icofont-laboratory"></i>
							<h4><a href="service-details.html">Research and Development</a></h4>
							<p>Innovating and improving engineering processes, products, and systems through cutting-edge research and advanced technologies. </p>	
						</div>
						<!-- End Single Service -->
					</div>
				</div>
			</div>
		</section>
		<!--/ End service -->
		<hr>		
		
		
		
		
		
		
		
		
		<!-- Start Appointment -->
		<section id="contact" class="appointment">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<h2>We Are Always Ready to Help You. Book An Appointment</h2>
							<p>Schedule your appointment with ease! Simply select your preferred date and time, and let us handle the rest.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6 col-md-12 col-12">
						<form class="form" action="#">
							<div class="row">
								<div class="col-lg-6 col-md-6 col-12">
									<div class="form-group">
										<input name="name" type="text" placeholder="Name">
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-12">
									<div class="form-group">
										<input name="email" type="email" placeholder="Email">
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-12">
									<div class="form-group">
										<input name="phone" type="text" placeholder="Phone">
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-12">
									<div class="form-group">
										<div class="nice-select form-control wide" tabindex="0"><span class="current">Department</span>
											<ul class="list">
												<li data-value="1" class="option selected ">Department</li>
												<li data-value="2" class="option">Sustainability</li>
												<li data-value="3" class="option">Agriculture</li>
												<li data-value="4" class="option">Product Enquiry</li>
												<li data-value="5" class="option">Supplier Innovations</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-12">
									<div class="form-group">
										<div class="nice-select form-control wide" tabindex="0"><span class="current">Engineer</span>
											<ul class="list">
												<li data-value="1" class="option selected ">Engineeer</li>
												<li data-value="2" class="option">Engr. John Doe</li>
												<li data-value="3" class="option">Engr. Adam Smith</li>
												<li data-value="4" class="option">Engr. Charles Spurgeon</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-12">
									<div class="form-group">
										<input type="text" placeholder="Date" id="datepicker">
									</div>
								</div>
								<div class="col-lg-12 col-md-12 col-12">
									<div class="form-group">
										<textarea name="message" placeholder="Write Your Message Here....."></textarea>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-5 col-md-4 col-12">
									<div class="form-group">
										<div class="button">
											<button type="submit" class="btn">Book An Appointment</button>
										</div>
									</div>
								</div>
								<div class="col-lg-7 col-md-8 col-12">
									<p>You will receive an email confirming your appointment.</p>
								</div>
							</div>
						</form>
					</div>
					<div class="col-lg-6 col-md-12 ">
						<div class="appointment-image">
							<img src="/assets/img/engine.png" alt="#">
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Appointment -->
		
		<!-- Start Newsletter Area -->
		<section class="newsletter section">
			<div class="container">
				<div class="row ">
					<div class="col-lg-6  col-12">
						<!-- Start Newsletter Form -->
						<div class="subscribe-text ">
							<h6>Sign up for newsletter</h6>
							<p class="">Be the first to know about updates, offers,<br> and insider news.</p>
						</div>
						<!-- End Newsletter Form -->
					</div>
					<div class="col-lg-6  col-12">
						<!-- Start Newsletter Form -->
						<div class="subscribe-form ">
							<form action="mail/mail.php" method="get" target="_blank" class="newsletter-inner">
								<input name="EMAIL" placeholder="Your email address" class="common-input" onfocus="this.placeholder = ''"
									onblur="this.placeholder = 'Your email address'" required="" type="email">
								<button class="btn">Subscribe</button>
							</form>
						</div>
						<!-- End Newsletter Form -->
					</div>
				</div>
			</div>
		</section>
		<!-- /End Newsletter Area -->
		
		<!-- Footer Area -->
		<footer id="footer" class="footer ">
			<!-- Footer Top -->
			<div class="footer-top">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-md-6 col-12">
							<div class="single-footer">
								<h2>About Us</h2>
								<p>We are an innovative engineering company delivering cutting-edge solutions in research, design and development, sales of engineering products and manufacturing of machine component, equipment and tools.</p>
								<!-- Social -->
								<ul class="social">
									<li><a href="#"><i class="icofont-facebook"></i></a></li>
									<li><a href="#"><i class="icofont-google-plus"></i></a></li>
									<li><a href="#"><i class="icofont-twitter"></i></a></li>
									<li><a href="#"><i class="icofont-vimeo"></i></a></li>
									<li><a href="#"><i class="icofont-pinterest"></i></a></li>
								</ul>
								<!-- End Social -->
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-12">
							<div class="single-footer f-link">
								<h2>Quick Links</h2>
								<div class="row">
									<div class="col-lg-6 col-md-6 col-12">
										<ul>
											<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Home</a></li>
											<li><a href="#contact"><i class="fa fa-caret-right" aria-hidden="true"></i>Contact</a></li>
											<li><a href="#services"><i class="fa fa-caret-right" aria-hidden="true"></i>Services</a></li>
	
										</ul>
									</div>
									<div class="col-lg-6 col-md-6 col-12">
										<ul>
											<li><a href="/comingsoon"><i class="fa fa-caret-right" aria-hidden="true"></i>Consulting</a></li>
											<li><a href="/comingsoon"><i class="fa fa-caret-right" aria-hidden="true"></i>Finance</a></li>
											<li><a  href="javascript:void(0);" onclick="showPopup()"><i class="fa fa-caret-right" aria-hidden="true" ></i>Logout</a></li>	
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-12">
							<div class="single-footer">
								<h2>Open Hours</h2>
								<p>Our office is open Monday to Friday, 8:00 AM to 5:00 PM, providing prompt and reliable services.</p>
								<ul class="time-sidual">
									<li class="day">Monday - Friday <span>8am - 5pm</span></li>
									<li class="day">Saturday<span>1pm - 5pm</span>(Limited Services)</li>
									<li class="day">Sunday <span>Closed</span></li>
								</ul>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-12">
							<div class="single-footer">
								<h2>Newsletter</h2>
								<p>Subscribe to our newsletter to get allour news in your inbox.</p>
								<form action="mail/mail.php" method="get" target="_blank" class="newsletter-inner">
									<input name="email" placeholder="Email Address" class="common-input" onfocus="this.placeholder = ''"
										onblur="this.placeholder = 'Your email address'" required="" type="email">
									<button class="button"><i class="icofont icofont-paper-plane"></i></button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Footer Top -->
			<!-- Copyright -->
			<div class="copyright">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-12">
							<div class="copyright-content">
								<p>© Copyright 2025 |  All Rights Reserved by <a href="" target="_blank">Share Hubs Engineering</a> </p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Copyright -->
		</footer>
		<!--/ End Footer Area -->


	<!-- Overlay -->
<div id="overlay"></div>

<!-- Popup Container -->
<div id="popupMessage" class="popup">
    <div class="popup-content">
        <p>Are you sure you want to logout?</p>
        <button class="confirm-btn" onclick="logout()">Yes</button>
        <button class="cancel-btn" onclick="closePopup()">No</button>
    </div>
</div>

<!-- Timed Tip Modal -->
<div id="timedPopup" class="popup">
    <div class="popup-content">
        <p>Don't forget to check our Products!</p>
        <button class="cancel-btn" onclick="closeTimedPopup()">Close</button>
    </div>
</div>



		<script>


window.addEventListener('load', () => {
    const scrollContainer = document.getElementById('scrollContainer');
    const cards = scrollContainer.querySelectorAll('.culture-card');
    let currentIndex = 0;
    const delay = 4000;

    function scrollToCard(index) {
      const card = cards[index];
      if (!card) return;

      const scrollLeft =
        card.offsetLeft -
        (scrollContainer.clientWidth / 2) +
        (card.offsetWidth / 2);

      scrollContainer.scrollTo({
        left: scrollLeft,
        behavior: 'smooth'
      });
    }

    setInterval(() => {
      currentIndex = (currentIndex + 1) % cards.length;
      scrollToCard(currentIndex);
    }, delay);
  });






			document.addEventListener("DOMContentLoaded", function () {
				const profileIcon = document.querySelector(".profile-icon");
				const profileMenu = document.querySelector(".profile-menu");
			
				profileIcon.addEventListener("click", function () {
					profileMenu.classList.toggle("active");
				});
			
				// Close menu when clicking outside
				document.addEventListener("click", function (event) {
					if (!profileIcon.contains(event.target) && !profileMenu.contains(event.target)) {
						profileMenu.classList.remove("active");
					}
				});
			});
			
			
			
	 // Show timed modal every 2 minutes
  function showTimedPopup() {
    document.getElementById("timedPopup").classList.add("show");
    document.getElementById("timedPopup").style.display = "block";
    document.getElementById("overlay").style.display = "block";
  }

  function closeTimedPopup() {
    document.getElementById("timedPopup").classList.remove("show");
    setTimeout(() => {
      document.getElementById("timedPopup").style.display = "none";
      document.getElementById("overlay").style.display = "none";
    }, 200);
  }

  window.addEventListener("DOMContentLoaded", () => {
  setTimeout(() => {
    showTimedPopup(); // First popup after 30 seconds
    setInterval(showTimedPopup, 300000); // Then every 5 minutes (300,000 ms)
  }, 30000); // 30,000 ms = 30 seconds
});

			
			
					// Function to show the popup
			function showPopup() {
				document.getElementById("popupMessage").classList.add("show");
				document.getElementById("popupMessage").style.display = "block"; // Ensure it appears
				document.getElementById("overlay").style.display = "block"; // Show blurred background
			}
			
			// Function to close the popup
			function closePopup() {
				document.getElementById("popupMessage").classList.remove("show");
				setTimeout(() => {
					document.getElementById("popupMessage").style.display = "none"; // Hide after animation
					document.getElementById("overlay").style.display = "none";
				}, 200); // Delay to match the transition effect
			}

			function logout() {
		// Show preloader
		const preloader = document.getElementById('preloader');
		if (preloader) {
			preloader.style.display = 'block';
		}

		// Add a short pause to let the animation play, then redirect
		setTimeout(() => {
			fetch('/logout')
				.then(() => {
					window.location.href = '/'; // go to login
				})
				.catch(err => {
					console.error('Logout failed:', err);
					if (preloader) preloader.style.display = 'none'; // fallback
				});
		}, 500); // Adjust if you want it slightly slower/faster
	}
					</script>
		
			
		
		
		<!-- jquery Min JS -->
        <script src="/js/jquery.min.js"></script>
		<!-- jquery Migrate JS -->
		<script src="/js/jquery-migrate-3.0.0.js"></script>
		<!-- jquery Ui JS -->
		<script src="/js/jquery-ui.min.js"></script>
		<!-- Easing JS -->
        <script src="/js/easing.js"></script>
		<!-- Color JS -->
		<script src="/js/colors.js"></script>
		<!-- Popper JS -->
		<script src="/js/popper.min.js"></script>
		<!-- Bootstrap Datepicker JS -->
		<script src="/js/bootstrap-datepicker.js"></script>
		<!-- Jquery Nav JS -->
        <script src="/js/jquery.nav.js"></script>
		<!-- Slicknav JS -->
		<script src="/js/slicknav.min.js"></script>
		<!-- ScrollUp JS -->
        <script src="/js/jquery.scrollUp.min.js"></script>
		<!-- Niceselect JS -->
		<script src="/js/niceselect.js"></script>
		<!-- Tilt Jquery JS -->
		<script src="/js/tilt.jquery.min.js"></script>
		<!-- Owl Carousel JS -->
        <script src="/js/owl-carousel.js"></script>
		<!-- counterup JS -->
		<script src="/js/jquery.counterup.min.js"></script>
		<!-- Steller JS -->
		<script src="/js/steller.js"></script>
		<!-- Wow JS -->
		<script src="/js/wow.min.js"></script>
		<!-- Magnific Popup JS -->
		<script src="/js/jquery.magnific-popup.min.js"></script>
		<!-- Counter Up CDN JS -->
		<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
		<!-- Bootstrap JS -->
		<script src="/js/bootstrap.min.js"></script>
		<!-- Main JS -->
		<script src="/js/main.js"></script>
    </body>
</html>